aiofiles==23.2.1
aiohttp==3.9.1
aiohttp-cors==0.7.0
aiosignal==1.3.1
aiosqlite==0.19.0
alabaster==0.7.13
aniso8601==9.0.1
annotated-types==0.6.0
ansible==9.1.0
ansible-core==2.16.2
anyio==3.7.1
apipkg==3.0.2
apparmor==3.1.6
appdirs==1.4.4
application-utility==1.3.2
argcomplete==2.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asciidoc==10.2.0
astroid==2.15.6
asttokens==2.4.1
async-generator==1.10
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
autocommand==2.2.2
awscli==1.31.1
Babel==2.12.1
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.12.2
bleach==6.1.0
blinker==1.6.3
botocore==1.33.1
btrfsutil==6.6.3
build==1.0.3
CacheControl==0.13.1
cachetools==5.3.2
catfish==4.18.0
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
cheroot==9.0.0
CherryPy==18.8.0
click==8.1.7
colorama==0.4.6
comm==0.2.0
commonmark==0.9.1
contextlib2==21.6.0
coverage==6.5.0
cryptography==41.0.7
cssselect==1.2.0
Cython==3.0.7
dbus-python==1.3.2
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.7
distlib==0.3.7
distro==1.8.0
dnspython==2.4.2
docopt==0.6.2
docutils==0.20.1
elasticsearch==7.9.0
entrypoints==0.4
exceptiongroup==1.1.3
executing==2.0.0
fastjsonschema==2.19.0
filelock==3.13.1
Flask==2.3.3
Flask-RESTful==0.3.9
flit==3.9.0
flit_core==3.9.0
fqdn==1.5.1
frozenlist==1.4.0
future==0.18.3
gns3-gui==2.2.43
gns3-server==2.2.43
google-api-core==2.11.0
google-api-python-client==2.88.0
google-auth==2.23.0
google-auth-httplib2==0.1.1
googleapis-common-protos==1.62.0
grpcio==1.60.0
gufw==24.4.0
html5lib==1.1
httplib2==0.22.0
idna==3.5
imagesize==1.4.1
importlib-metadata==5.0.0
importlib-resources==6.1.1
inflect==7.0.0
iniconfig==2.0.0
installer==0.7.0
ipykernel==6.27.1
ipython==8.18.1
ipython-genutils==0.2.0
isodate==0.6.1
isoduration==20.11.0
isort==5.13.2
itsdangerous==2.1.2
Jade-Application-Kit==3.5.7
jaraco.classes==3.3.0
jaraco.collections==3.5.2
jaraco.context==4.3.0
jaraco.functools==3.9.0
jaraco.text==3.11.1
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
jupyter-events==0.9.0
jupyter-ydoc==2.0.0
jupyter_client==8.6.0
jupyter_core==5.5.1
jupyter_packaging==0.12.3
jupyter_server==2.12.1
jupyter_server_fileid==0.9.1
jupyter_server_terminals==0.5.0
jupyter_server_ydoc==0.8.0
jupyterlab==4.0.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
keyutils==0.6
lazy-object-proxy==1.9.0
lensfun==0.3.4
LibAppArmor==3.1.6
lightdm-gtk-greeter-settings==1.2.2
lit==16.0.6.dev0
lockfile==0.12.2
loguru==0.5.3
logutils==0.3.5
louis==3.28.0
lxml==4.9.2
Mako==1.2.4
manjaro-sdk==0.1.1
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
menulibre==2.2.3
mistune==2.0.5
mock==3.0.5
more-itertools==10.1.0
msgpack==1.0.5
mugshot==0.4.3
multidict==6.0.4
nbclassic==1.0.0
nbclient==0.9.0
nbconvert==7.13.1
nbformat==5.9.2
nest-asyncio==1.5.7
netsnmp-python==1.0a1
nftables==0.1
nose==1.3.7
notebook==7.0.6
notebook_shim==0.2.3
npyscreen==4.10.5
nspektr==0.5.0
numpy==1.26.2
ordered-set==4.1.0
overrides==7.4.0
packaging==23.2
pacman_mirrors==4.24.0
pandas==1.3.4
pandocfilters==1.5.0
paramiko==2.11.1
parso==0.8.3
pbr==6.0.0
pecan==1.4.2
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.1.0
pkgconfig==1.5.5
platformdirs==4.1.0
pluggy==1.3.0
ply==3.11
pooch==1.8.0
portend==3.1.0
prettytable==3.9.0
progress==1.6
prometheus-client==0.18.0
prompt-toolkit==3.0.42
protobuf==4.25.1
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.1.dev0+g447bac51.d20230407
py-cpuinfo==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.25.1
pycodestyle==2.11.1
pycparser==2.21
pycrdt==0.7.2
pydantic==2.5.2
pydantic_core==2.14.5
Pygments==2.17.2
PyGObject==3.46.0
PyJWT==2.8.0
pylint==2.17.7
PyNaCl==1.4.0
pyOpenSSL==23.3.0
pyparsing==3.1.1
pyproject_hooks==1.0.0
PyQt5==5.15.10
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.6
pyrsistent==0.19.3
pyserial==3.5
PySide2==5.15.11
PySide6==6.6.1
pysmbc==1.0.25.1
pytest==7.4.3
pytest-cov==4.1.0
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2023.3.post1
pyxdg==0.28
PyYAML==6.0.1
pyzmq==25.1.1
referencing==0.31.1
reportlab==3.6.12
repoze.lru==0.7
requests==2.31.0
requests-unixsocket==0.3.0
resolvelib==1.0.1
retrying==1.3.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
Routes==2.5.1
rpds-py==0.10.6
rsa==4.9
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.7
s3transfer==0.8.0
scikit-learn==1.3.2
SciPy==1.11.4
scour==0.38.2
Send2Trash==1.8.2
sentry-sdk==1.39.1
shiboken2==5.15.11
shiboken6==6.6.1
shiboken6-generator==6.6.1
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
stack-data==0.6.3
systemd-python==235
tempora==5.2.2
tenacity==8.2.3
terminado==0.18.0
testpath==0.6.0
threadpoolctl==3.2.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomli_w==1.0.0
tomlkit==0.12.2
tornado==6.3.2
traitlets==5.14.0
trove-classifiers==2023.12.1
truststore==0.8.0
typing_extensions==4.9.0
tzdata==2023.3
uc-micro-py==1.0.2
udiskie==2.5.0
ufw==0.36.2
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.18
validate-pyproject==0.13.post1.dev0+gb752273.d20230520
virtualenv==20.25.0
waitress==2.1.2
wcwidth==0.2.9
webcolors==1.13
webencodings==0.5.1
WebOb==1.8.7
websocket-client==1.7.0
WebTest==3.0.0
Werkzeug==2.3.8
wrapt==1.14.1
xmlsec==1.3.13
y-py==0.6.2
yarl==1.9.2
ypy-websocket==0.12.4
zc.lockfile==3.0.post1
zipp==3.17.0
zstandard==0.22.0
